* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: black;
    color: whitesmoke;
    font-size: 1rem;
    font-family: Arial, sans-serif;
}

nav {
    padding: 1rem;
    background-color: #44B78B;
    color: white;
    font-size: 1.5rem;
}

main {
    padding: 1rem;
}

.posts-section {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.posts-section h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    text-align: center;
}

.post {
    border-bottom: 1px solid #ccc;
    padding: 20px 0;
}

.post h2 {
    font-size: 2rem;
    margin: 0;
}

.post h2 a {
    text-decoration: none;
    color: #81dbb8;
}

.post h2 a:hover {
    opacity: 0.85;
}

.post-date {
    color: #999;
    font-size: 0.9em;
    margin: 10px 0;
}

.post-body {
    font-size: 1.2rem;
    margin: 10px 0;
}

.banner {
    display: block;
    width: 100%;
    max-width: 400px;
}

.logout-button {
    font-size: 2.5rem;
    background-color: rgb(0, 0, 0, 0);
    border: none;
}

.logout-button:hover {
    opacity: .85;
}